.Content {
  margin-top: 60px;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Content {
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Content {
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Content {
    height: 90vh;
    margin-top: 56px;
  }
}
